* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  /* height: 100%; */
  width: 100%;
  background-color: black;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  gap: 20px;
  flex-wrap: wrap;
}

.job-card {
  width: 280px;
  /* height: 300px; */
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  font-family: "Inter", sans-serif;
}

.job-card .job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.job-card .job-header .logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  background: #f3f3f3;
  padding: 5px;
}

.job-card .job-header .save-btn {
  background: #f8f8f8;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.job-card .job-header .save-btn:hover {
  background: #eaeaea;
}

.job-card .company {
  font-size: 15px;
  color: #555;
}

.job-card .company span {
  color: #aaa;
}

.job-card .position {
  font-size: 20px;
  font-weight: 700;
  margin: 8px 0;
}

.job-card .tags {
  margin: 10px 0;
}

.job-card .tags .tag {
  background: #f2f2f2;
  padding: 6px 12px;
  border-radius: 8px;
  margin-right: 8px;
  font-size: 13px;
  display: inline-block;
}

.job-card .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
border-top: 2px solid #cfcbcb;
  padding-top: 15px;
}

.job-card .footer .price h3 {
  margin: 0;
  font-size: 18px;
}

.job-card .footer .price p {
  margin: 0;
  font-size: 14px;
  color: #888;
}

.job-card .footer .apply-btn {
  background: #000;
  color: #fff;
  padding: 10px 18px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.job-card .footer .apply-btn:hover {
  background: #333;
}
