* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 100%;
  background-color: rgb(109, 201, 232);
  display: flex;
  flex-direction: column;
  align-items: center;

  .counter-container {
    background-color: rgb(223, 109, 109);
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
    margin-top: 150px;

    h3 {
      font-size: 50px;
    }
  }

  .counter-btn {
    button {
      padding: 10px 20px;
      font-size: 20px;
      margin: 0 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .decrease-btn {
      background-color: black;
      color: white;
    }

    .reset-btn {
      background-color: red;
      color: white;
    }

    .increase-btn {
      background-color: green;
      color: white;
    }
  }
}
