* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card #msg {
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
}
.card #msg span {
  font-weight: 600;
  color: royalblue;
}
.card {
  width: 450px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.outer {
  height: 20px;
  border-radius: 50px;
  width: 100%;
  background-color: rgb(184, 184, 184);
}

.inner {
  height: 100%;
  width: 0%;
  border-radius: 50px;
  background-color: green;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.bottom h2 {
  font-size: 60px;
  font-family: monospace;
}

.bottom button {
  padding: 12px 25px;
  background-color: green;
  color: white;
  border-radius: 5px;
  font-size: 18px;

  font-weight: 600;
  border: 0;
  cursor: pointer;
}

.bottom button:active {
  scale: 0.95;
}

#timer {
  color: rgb(3, 120, 3);
  font-weight: 500;
  margin-bottom: 8px;
}

#timer span{
  color: royalblue;
}