* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: flex-start;
  padding-left: 120px;
  padding-top: 30px;
  gap: 40px;
  justify-content: flex-start;
  flex-direction: column;
  background-image: url(https://4kwallpapers.com/images/wallpapers/chennai-super-kings-indian-premier-league-ipl-ipl-2021-3440x1440-4938.png);
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 40px;
}
h3 {
  font-size: 35px;
}

.team {
  font-size: 40px;
  background-color: rgb(22, 23, 23);
  padding: 20px 30px;
  border-radius: 10px;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
  padding: 18px 25px;
  background-color: rgb(31, 135, 225);
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

button:active {
  scale: 0.95;
}
