* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  width: 400px;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
}
.card div {
  position: relative;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 5% 30%;
  margin-bottom: 10px;
  border-radius: 10px;
}
.card h2 {
  font-size: 20px;
  text-align: center;
}

.card #love {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 90px;
  opacity: 0;

  background-image: url(https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  transform: translate(-50%, -50%) scale(0) rotate(-60deg);
  transition: all cubic-bezier(0.65, 1, 0.77, 1.44) 0.4s;
}

.icon i {
  color: black;
  font-size: 28px;
  cursor: pointer;
}
