* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #000;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.container {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #222;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card h2 {
  color: white;
  font-size: 22px;
  font-weight: 600;
}

.btn {
  padding: 12px 22px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  background: #3d63ff;
  box-shadow: 3px 3px 0 #000;
}

.btn.remove {
  background: #3d63ff;
}

.btn.add {
  background: #3d63ff;
}
