* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
}
html,
body {
  height: 100%;
  width: 100%;
}

#box {
  height: 200px;
  width: 200px;
  background-color: crimson;
}
#circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: lightseagreen;
}
