* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
}
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 90;
}

button:active {
  transform: scale(0.98);
}
