* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

#main {
  background-image: url(./groot.jpg);
  width: 100vw;
  height: 100vh;
}

p{
  font-size: 200px;
  color: red;
  /* transform: translate(50%, 50%); */
  object-fit: cover;
  
}
